@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/**------RESET------*/

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.shantell-sans {
    font-family: "Shantell Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
    box-sizing: border-box;
}

/**------HEADER------*/

header {
    background-image: url(../img/iStock-1369171053.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    height: 10rem;
    width: 10rem;
}

.navbar-nav .nav-link {
    color: white !important;
    text-align: center;
}

.bienvenidos{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 400px;
}

.bienvenidos h1 {
    font-size: 75px;
    color: white;
    text-shadow: 1px 1px 25px black;
}

.bienvenidos a img{
    width: 55px;
    height: 55px;
    margin-top: 60px;
    filter: drop-shadow( 1px 1px 4px rgb(46, 46, 46));
}


/**------MAIN------*/


#grid-container {
    background-image: url(../img/v894-kul-02-e.jpg);
    background-repeat: no-repeat;
    background-size: 210vh 250vh;
    background-position: center;
    background-size: cover;
    display: grid;
        grid-template-rows: 700px 500px 500px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
}

.grid-item1 {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

.logomain{
    height: 150px;
    width: 150px;
    margin: 10px;
}

.mensaje {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mensaje h2{
    font-family: "Shantell sans", cursive;
    padding: 0 20rem 0 20rem;
    font-size: 50px;
    margin: 50px 0 100px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.504);
}

.mensaje p {
    padding: 0 15rem 0 15rem;
    background-color: #00000027;
    color: white;
    justify-content: center;
}

.mensaje h3 {
    font-family: "Shantell sans", cursive;
    padding: 0 20rem 0 20rem;
    font-size: 30px;
    margin: 50px 0 100px;
    text-decoration: underline;
}

.grid-item2 {
    display: flex;
    padding: 0 30px 0 25px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.522);
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}

.grid-item2 img{
    height: 500px;
    width: 400px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}

.titulo2 {
    margin-bottom: 15px;
    text-align: left;
}

.titulotexto2{
    margin-left: 25px;
    text-align: justify;
    word-spacing: -1px;
}

.grid-item3 {
    display: flex;
    padding: 0 25px 0 30px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.522);
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}

.grid-item3 img{
    height: 500px;
    width: 450px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}

.titulo3 {
    margin-bottom: 15px;
    text-align: left;
}

.titulotexto3 {
    margin-right: 20px;
    text-align: justify;
}

.grid-item4 {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 300px 50px 300px;
    padding: 0 50px 0 50px;
    background-color: rgba(255, 255, 255, 0.522);
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}
.grid-item4 img{
    height: 450px;
    width: 400px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
}

.titulo4 {
    margin-bottom: 15px;
}

.titulotexto4{
    margin-left: 20px;
    text-align: justify;
}


/**------FOOTER------*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.by {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.corazon {
    justify-content: space-between;
    height: 15px;
    width: 15px;
}

footer nav ul li{
    list-style: none;
    margin: 5px;
}

footer nav ul li a{
    text-decoration: none;
    color: rgb(138, 138, 138);
}

.redes {
    display: flex;
    align-items: center;
}

footer img {
    width: 25px;
    height: 25px;
    margin: 10px 10px 10px 10px;
}

/**------PÁGINA 'CONTACTO'------*/

.flechas {
    font-size: 45px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    color: white;
    text-shadow: 1px 1px 25px black;
}

.flechas h1 {
    display: none;
}

.flechas a img{
    width: 65px;
    height: 65px;
    margin-top: 300px;
    filter: drop-shadow( 1px 1px 4px rgb(46, 46, 46));
}

.h2-contacto {
    font-family: "Shantell sans", cursive;
    font-size: 45px;
    text-align: center;
    color: black;
    margin: 30px;
}

#main-contacto {
    height: 800px;
    width: 100%;
    background-image: url(../img/v894-kul-02-e.jpg);
    background-repeat: no-repeat;
    background-size: 210vh 250vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.51);
    width: 800px;
    height: 700px;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.303);
}

.formulario input{
    height: 50px;
    width: 500px;
	padding: 3px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color:#f6f6f6;
	margin: 8px 0;
	display: inline-block;
    align-items: center;
}

.formulario textarea{
    width: 500px;
    height: 150px;
    border: #f6f6f6 1px solid;
    border-radius: 3px;
    background-color:#f6f6f6;			
    margin: 8px 0 50px;
    display:block;
}

.formulario .resetear{
        width: 100%;
        padding: 8px 16px;
        margin-top: 10px;
        border: 2px solid #000;
        border-radius:5px;
        color: black;
        background-color: rgba(255, 255, 255, 0.396);
} 

.formulario .enviar{
    width: 100%;
    padding: 8px 16px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius:5px;
    color:#fff;
    background-color:#000;
} 


/*!--- MEDIA QUERIES ---*/

@media screen and (max-width: 1400px){

    .mensaje h2{
        padding: 0 20rem 0 20rem;
        margin-bottom: 50px;
    }
    
    .mensaje h3 {
        margin: 60px 0 100px;
    }

    #grid-container {
            grid-template-rows: 700px 400px 400px;
            column-gap: 10px;
    }

    .grid-item2 {
        display: flex;
        padding: 0 20px 0 25px;
    }

    .grid-item2 img {
        height: 400px;
        width: 325px;
    }

    .titulo2 {
        font-size: 15px;
    }

    .titulotexto2{
        font-size: 15px;
    }

    .grid-item3 {
        padding: 0 25px 0 20px;
        margin: 10px;
    }

    .grid-item3 img {
        height: 400px;
        width: 320px;
    }
    
    .titulo3 {
        font-size: 15px;
    }
    
    .titulotexto3{
        font-size: 15px;
    }

    .grid-item4 img{
        height: 350px;
        width: 300px;
    }
    
    .titulo4 {
        font-size: 15px;
    }
    
    .titulotexto4{
        font-size: 15px;
    }
}

@media screen and (max-width: 1200px){

    .bienvenidos{
        font-size: 30px;
        margin-top: 27%;
    }
    
    .bienvenidos a img{
        width: 35px;
        height: 35px;
    }

    #grid-container {
            grid-template-rows: 650px 390px 390px;
            column-gap: 7px;
    }

    .mensaje h2{
        font-size: 40px;
    }

    .mensaje p{
        padding: 0 9rem 0 9rem;
    }

    .grid-item2 img{
        height: 390px;
        width: 290px;
    }
    
    .titulo2{
        font-size: 13px;
    }

    .titulotexto2{
        font-size: 13px;
    }

    .grid-item3 img{
        height: 390px;
        width: 310px;
    }

    .titulo3{
        font-size: 13px;
    }

    .titulotexto3{
        font-size: 13px;
    }

    .grid-item4 {
        margin: 50px 250px 50px 250px;
        padding: 0 25px 0 25px;
    }

    .titulo4{
        font-size: 13px;
    }

    .titulotexto4{
        font-size: 13px;
    }

    .grid-item4 img{
        height: 310px;
        width: 280px;
    }
}

@media screen and (max-width: 1050px){

    .logo {
        height: 10rem;
        width: 10rem;
    }

    .bienvenidos{
        font-size: 30px;
        margin-top: 27%;
    }
    
    .bienvenidos a img{
        width: 35px;
        height: 35px;
        margin-top: 80px;
        filter: drop-shadow( 1px 1px 4px rgb(46, 46, 46));
    }

    #grid-container {
        grid-template-rows: 630px 350px 350px;
        grid-template-columns: 49,9% 49,9%;
        column-gap: 5px;
    }

    .mensaje h2 {
        font-size: 38px;
    }

    .mensaje p {
        font-size: 10px;
    }

    .grid-item2 img{
        height: 350px;
        width: 260px;
    }
    
    .titulo2{
        font-size: 12px;
    }

    .titulotexto2{
        font-size: 12px;
    }

    .grid-item3 img{
        height: 350px;
        width: 275px;
    }

    .titulo3{
        font-size: 12px;
    }

    .titulotexto3{
        font-size: 12px;
        word-spacing: -1px;
    }

    .titulo4{
        font-size: 12px;
    }

    .titulotexto4{
        font-size: 12px;
    }

    .grid-item4 img{
        height: 270px;
        width: 280px;
    }
}

@media screen and (max-width: 991px){
    .bienvenidos h1{
        font-size: 60px;
        margin-top: 250px;
    }
    
    .bienvenidos a img{
        width: 35px;
        height: 35px;
        margin-top: 20px;
        filter: drop-shadow( 1px 1px 4px rgb(46, 46, 46));
    }
}

@media screen and (max-width: 989px){

    .bienvenidos{
        font-size: 26px;
        margin-top: 20%;
    }

    #grid-container {
        display: grid;
            grid-template-rows: 580px 320px 320px;
            grid-template-columns: 49,9% 49,9%;
            column-gap: 5px;
    }

    .mensaje h2{
        font-size: 35px;
        padding: 0 15rem 0 15rem;
    }

    .mensaje h3 {
        padding: 0 15rem 0 15rem;
        font-size: 20px;
        margin: 30px 0 100px;
    }

    .grid-item2 {
        padding: 0 15px 0 15px;
    }

    .grid-item2 img{
        height: 320px;
        width: 230px;
    }
    
    .titulo2{
        font-size: 10px;
    }

    .titulotexto2{
        font-size: 10px;
    }

    .grid-item3 {
        padding: 0 12px 0 12px;
    }

    .grid-item3 img{
        height: 310px;
        width: 240px;
    }

    .titulo3{
        font-size: 10px;
    }

    .titulotexto3{
        font-size: 10px;
    }

    .titulo4{
        font-size: 10px;
    }

    .titulotexto4{
        font-size: 10px;
    }

    .grid-item4 {
        margin: 30px 200px 30px 200px;
        padding: 0 20px 0 20px;
    }

    .grid-item4 img{
        height: 275px;
        width: 280px;
    }
}

@media screen and (max-width: 818px){

    .bienvenidos h1{
        font-size: 60px;
        margin-top: 300px;
    }

    #grid-container {
        grid-template-rows: 500px 320px 320px;
    }

    .mensaje h2{
        font-size: 30px;
        padding: 0 10rem 0 10rem;
    }

    .mensaje h3 {
        padding: 0 15rem 0 15rem;
        font-size: 20px;
        margin: 25px 0 100px;
    }

    .titulotexto2 {
        margin-left: 15px;
    }

    .titulotexto3 {
        margin-right: 15px;
    }

    .titulotexto4 {
        margin-left: 15px;
    }

    footer nav ul li{
        margin: 3px;
        font-size: 15px;
    }

    .redes{
        flex-direction: column;
        margin-top: 5px;
    }

    .redes p {
        font-size: 12px;
    }
    
    footer img {
        width: 20px;
        height: 20px;
        margin: 10px 7px 10px 7px;
    }
}
@media screen and (max-width: 800px){

    #grid-container {
        grid-template-rows: 500px 300px 300px;
        column-gap: 3px;
    }

    .mensaje h2{
        font-size: 30px;
        padding: 0 7rem 0 7rem;
    }

    .mensaje h3 {
        font-size: 18px;
    }

    .grid-item2 img{
        height: 290px;
        width: 200px;
    }

    .grid-item3 img{
        height: 290px;
        width: 215px;
    }

    .grid-item4 {
        margin: 30px 180px 30px 180px;
        padding: 0 20px 0 20px;
    }

    .grid-item4 img{
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 745px){
    
    .mensaje p {
        padding: 0 10rem 0 10rem;
    }

    .grid-item2 {
        padding: 0 10px 0 10px;
    }

    .titulotexto2 {
        font-size: 9px;
    }

    .grid-item3 {
        padding: 0 10px 0 10px;
    }

    .titulotexto3 {
        font-size: 9px;
    }

    .grid-item4 {
        margin: 30px 170px 30px 170px;
    }

    .titulotexto4 {
        font-size: 9px;
    }

}

@media screen and (max-width: 742px){

    .mensaje h2 {
        padding: 0 6rem 0 6rem;
    }

}

@media screen and (max-width: 704px){

    #grid-container {
        grid-template-rows: 500px 280px 280px;
        column-gap: 2px;
    }

    .mensaje h2 {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 0 5rem 0 5rem;
    }

    .mensaje h3 {
        font-size: 15px;
    }

    .grid-item2 {
        padding: 0 8px 0 8px;
    }

    .grid-item2 img{
        height: 275px;
        width: 185px;
    }

    .titulotexto2 {
        font-size: 8px;
    }

    .grid-item3 {
        padding: 0 8px 0 8px;
    }

    .grid-item3 img{
        height: 269px;
        width: 200px;
    }
    .titulotexto3 {
        font-size: 8px;
        word-spacing: 0px;
    }

    .grid-item4 {
        margin: 30px 150px 30px 150px;
    }

    .grid-item4 img{
        height: 240px;
        width: 230px;
    }

    .titulotexto4 {
        font-size: 8px;
    }
}

@media screen and (max-width: 645px){

    #grid-container {
        grid-template-rows: 500px 250px 250px 250px;
    }

    .mensaje h2 {
        margin-top: 0;
    }

    .mensaje h3 {
        padding: 0 10rem 0 10rem;
    }

    .grid-item2 {
        grid-column: 1/3;
        margin: 0 120px 20px 120px;
    }

    .grid-item2 img {
        height: 250px;
        width: 185px;
    }

    .titulo2 {
        margin-bottom: 8px;
    }

    .grid-item3 {
        grid-column: 1/3;
        margin: 12.5px 120px 12.5px 120px;
    }

    .titulo3 {
        margin-bottom: 8px;
    }

    .grid-item3 img {
        height: 240px;
        width: 190px;
    }

    .grid-item4 {
        margin: 12.5px 120px 12.5px 120px;
        padding: 0 8px 0 8px;
    }

    .titulo4 {
        margin-bottom: 8px;
        text-align: left;
    }

    .grid-item4 img{
        height: 240px;
        width: 200px;
    }

    .by {
        font-size: 13px;
    }

    footer nav {
        margin: 10px 0 10px;
    }

    footer nav ul li{
        font-size: 13px;
        margin: 5px;
    }

    .redes p {
        font-size: 10px;
        margin-right: 10px;
    }
    
    footer img {
        width: 20px;
        height: 20px;
        margin: 10px 7px 10px 7px;
    }
}

@media screen and (max-width: 600px){

    /*header nav{
        display: none;
    }*/

    .mensaje h2 {
        margin-bottom: 25px;
        padding: 0 5rem 0 5rem;
    }

    .mensaje p {
        padding: 0 8rem 0 8rem;
    }

    .mensaje h3 {
        padding: 0 8rem 0 8rem;
    }

    .grid-item2 {
        margin: 0 110px 20px 110px;
    }

    .grid-item3 {
        margin: 12.5px 110px 12.5px 110px;
    }

    .grid-item4 {
        margin: 12.5px 110px 12.5px 110px;
        padding: 0 8px 0 8px;
    }
}

@media screen and (max-width: 570px){

    .bienvenidos h1{
        font-size: 50px;
        margin-top: 350px;
    }
}

@media screen and (max-width: 526px){

    .grid-item2 {
        margin: 0 100px 20px 100px;
    }

    .titulo2 {
        font-size: 9px;
    }

    .grid-item2 img {
        height: 240px;
        width: 175px;
    }

    .grid-item3 {
        margin: 12.5px 100px 12.5px 100px;
    }
    .titulo3 {
        font-size: 9px;
    }

    .grid-item3 img {
        height: 230px;
        width: 180px;
    }

    .grid-item4 {
        margin: 12.5px 100px 12.5px 100px;
    }

    .titulo4 {
        font-size: 9px;
    }

    .grid-item4 img{
        height: 230px;
        width: 290px;
    }

    .by {
        font-size: 11px;
    }

    footer nav ul li{
        font-size: 11px;
    }
}

@media screen and (max-width: 499px){
    .logo {
        height: 10rem;
        width: 10rem;
    }
    
    .mensaje h2 {
        font-size: 25px;
        padding: 0 2rem 0 2rem;
    }

    .mensaje p {
        padding: 0 5rem 0 5rem;
        margin-bottom: 80px;
    }

    .grid-item2 {
        margin: 5px 80px 20px 80px;
    }

    .grid-item2 img {
        height: 230px;
        width: 170px;
    }

    .grid-item3 {
        margin: 12.5px 80px 12.5px 80px;
    }

    .grid-item4 {
        margin: 12.5px 80px 12.5px 80px;
    }
}

@media screen and (max-width: 450px){

    .mensaje h2 {
        padding: 0 2rem 0 2rem;
    }

    .mensaje p {
        padding: 0 3rem 0 3rem;
        margin-bottom: 50px;
    }

    .grid-item2 {
        margin: 5px 70px 20px 70px;
    }

    .grid-item2 img {
        height: 225px;
        width: 160px;
    }

    .grid-item3 {
        margin: 12.5px 70px 12.5px 70px;
    }

    .grid-item4 {
        margin: 12.5px 70px 12.5px 70px;
    }

    .by {
        font-size: 10px;
    }

    footer nav ul li{
        font-size: 10px;
    }

    .redes p {
        font-size: 9px;
    }
    
    footer img {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 432px){

    .mensaje h3 {
        padding: 0 5rem 0 5rem;
    }

    .grid-item2 {
        margin: 12px 60px 20px 60px;
    }

    .grid-item3 {
        margin: 16px 60px 16px 60px;
    }

    .grid-item3 img {
        height: 225px;
        width: 165px;
    }

    .grid-item4 {
        margin: 16px 60px 16px 60px;
    }

    .grid-item4 img{
        height: 225px;
        width: 165px;
    }

    .by {
        font-size: 9px;
        margin-left: 2%;
    }

    .corazon {
        height: 10px;
        width: 10px;
    }
}

@media screen and (max-width: 432px){

    .bienvenidos h1{
        font-size: 40px;
        margin-top: 370px;
    }

    .mensaje h2 {
        font-size: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.355);
    }

    .mensaje p {
        background-color: #0000003c;
        padding: 0 3rem 0 3rem;
    }

    .titulo2 {
        font-size: 8px;
    }

    .titulotexto2 {
        font-size: 7px;
    }

    .titulo3 {
        font-size: 8px;
    }

    .titulotexto3 {
        font-size: 7px;
        word-spacing: -1px;
    }

    .titulo4 {
        font-size: 8px;
    }

    .titulotexto4 {
        font-size: 7px;
        word-spacing: -1px;
    }
    
    .by {
        flex-direction: column;
        align-items: center;
    }

    footer nav ul li{
        font-size: 9px;
    }

    .redes p {
        font-size: 9px;
        margin-top: 10px;
    }
    
    footer img {
        width: 15px;
        height: 15px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 400px){

    #grid-container {
        grid-template-rows: 350px 250px 250px 250px;
    }

    .logomain{
        height: 100px;
        width: 100px;
    }

    .mensaje p {
        font-size: 8px;
        padding: 0 2rem 0 2rem;
    }

    .grid-item2 {
        margin: 45px 50px 15px 50px;
    }

    .grid-item2 img {
        height: 195px;
        width: 140px;
    }

    .titulo2 {
        font-size: 7px;
    }

    .titulotexto2 {
        font-size: 6.5px;
    }

    .grid-item3 {
        margin: 45px 50px 15px 50px;
    }

    .titulo3 {
        font-size: 7px;
    }

    .titulotexto3 {
        font-size: 6.5px;
    }

    .grid-item3 img {
        height: 195px;
        width: 145px;
    }

    .grid-item4 {
        margin: 45px 50px 15px 50px;
    }

    .titulo4 {
        font-size: 7px;
    }

    .titulotexto4 {
        font-size: 6.5px;
    }
    
    .grid-item4 img{
        height: 195px;
        width: 140px;
    }
}

@media screen and (max-width: 350px){

    .mensaje h2 {
        font-size: 15px;
    }
    .mensaje p {
        font-size: 7px;
    }

    .mensaje h3 {
        font-size: 12px;
    }

    #grid-container {
        grid-template-rows: 300px 250px 250px 250px;
    }

    .grid-item2 {
        margin: 45px 30px 15px 30px;
    }

    .grid-item3 {
        margin: 45px 30px 15px 30px;
    }

    .grid-item4 {
        margin: 45px 30px 15px 30px;
    }

    .by {
        font-size: 8px;
        text-align: center;
    }

    footer nav ul li{
        font-size: 9px;
        margin-left: 5px;
    }

    .redes p {
        font-size: 6px;
        margin-top: 10px;
    }
    
    footer img {
        width: 10px;
        height: 10px;
    }
}

/**------PÁGINA 'CONTACTO'------*/

@media screen and (max-width: 1200px){
    .flechas a img{
        margin-top: 400px;
        width: 35px;
        height: 35px;
        }
    }

@media screen and (max-width: 990px){

    .flechas a img{
        margin-top: 400px;
        width: 35px;
        height: 35px;
        }
    }

@media screen and (max-width: 850px){

    .formulario {
        width: 600px;
        height: 700px;
    }
}

@media screen and (max-width: 630px){

    .formulario {
        width: 500px;
        height: 700px;
    }

    .formulario input{
        width: 300px;
    }
    
    .formulario textarea{
        width: 300px;
    }
}

@media screen and (max-width: 500px){

    .flechas a img{
        margin-top: 550px;
    }

    .formulario {
        width: 400px;
        height: 600px;
    }

    .formulario input{
        width: 300px;
        height: 40px;
    }

    .formulario textarea {
        margin: 8px 0 30px;
    }
}

@media screen and (max-width: 400px){

    .flechas a img{
        margin-top: 550px;
    }

    .formulario {
        width: 300px;
        height: 600px;
    }

    .h2-contacto {
        font-size: 35px;
    }

    .formulario input{
        width: 250px;
        height: 40px;
    }

    .formulario textarea {
        width: 250px;
        margin: 8px 0 20px;
    }
}
