footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;

    .by {
        margin-left: 20px;
        display: flex;
        align-items: center;

        img {
            justify-content: space-between;
            height: 15px;
            width: 15px;
        }
    }

    nav {
        ul {
            li {
                list-style: none;
                margin: 5px;

                a {
                    text-decoration: none;
                    color: rgb(138, 138, 138);
                }
            }
        }
    }

    .redes {
        display: flex;
        align-items: center;

        /*p{
            
        }*/
        div {
            a {
                img {
                    width: 25px;
                    height: 25px;
                    margin: 10px 10px 10px 10px;
                }
            }
        }
    }
}