//* INICIO

#grid-container {
    background-image: url(../../img/filter-bg.png);
    background-repeat: space;
    background-position: center center;
    background-size: 100% auto;
    display: grid;
    grid-template-rows: 700px 500px 500px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    flex-wrap: wrap;

    .grid-item1 {
        grid-column: 1/3;
        @include flex (flex, none, none, column);

        .logomain {
            height: 150px;
            width: 150px;
            margin: 10px;
        }

        .mensaje {
            text-align: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: "Playfair Display", serif;
                padding: 0 22rem 0 22rem;
                font-size: 60px;
                margin: 20px 0 100px;
                text-shadow: 3px 1px 5px rgba(62, 61, 61, 0.501);
            }

            p {
                padding: 0 13rem 0 13rem;
                font-size: 20px;
                justify-content: center;
            }

            h3 {
                font-family: "Playfair Display", serif;
                padding: 0 20rem 0 20rem;
                font-size: 30px;
                margin: 80px 0 100px;
                text-decoration: underline;
            }
        }
    }

    .grid-item2 {
        @include flex (flex, center, center, row);
        padding: 0 30px 0 25px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.504);

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.504);
        }

        .titulotexto2 {
            margin-left: 25px;
            text-align: left;

            .titulo2 {
                margin-bottom: 15px;
                text-align: left;
            }

            .leer {
                margin-left: 5px;
            }
        }
    }

    .grid-item3 {
        @include flex (flex, center, center, row);
        padding: 0 25px 0 30px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.504);

        .titulotexto3 {
            margin-right: 20px;
            text-align: left;

            .titulo3 {
                margin-bottom: 15px;
                text-align: left;
            }

            .leer {
                margin-left: 5px;
            }
        }

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.504);
        }
    }

    .grid-item4 {
        grid-column: 1/3;
        @include flex (flex, center, center, row);
        margin: 50px 300px 50px 300px;
        padding: 0 25px 0 30px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.504);

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.504);
        }

        .titulotexto4 {
            margin-left: 20px;
            text-align: left;

            .titulo4 {
                margin-bottom: 15px;
            }

            .leer {
                margin-left: 5px;
            }
        }
    }
}

//* PAGINA SENDEROS

main #senderismo-main {
    background-image: url(../../img/home_hero__2.webp);
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
    margin-top: -15vh;

    img {
        height: 150px;
        width: 150px;
        margin: 100px 10px 0 10px;
    }

    .region {
        h2 {
            font-family: "Playfair Display", serif;
            font-size: 65px;
            padding: 0 60rem 0 2rem;
        }

        .region-p {
            font-size: 15px;
            padding: 0 70rem 0 2rem;
            margin-bottom: 15px;
        }

        a {
            border: 1px solid black;
            color: black;
            background: transparent;
            text-decoration: none;
            font-size: 18px;
            padding: 1rem 2rem 1rem 2rem;
            margin-left: 2rem;
        }

        .btn {
            margin-left: 2rem;
            font-size: 18px;
            padding: 1rem 2rem 1rem 2rem;
            margin-bottom: 2rem;
        }
    }
}

main #senderismo-main2 {
    background-image: url(../../img/filter-bg.png);
    background-repeat: space;
    background-position: center center;
    background-size: 100% 100%;

    h3 {
        font-family: "Playfair Display", serif;
        font-size: 65px;
        text-align: center;
        margin-top: 40px;
    }

    p {
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
    }

    .container {
        max-width: 1400px;
        width: 100%;

        .image-list {
            @include flex (flex, center, center, row);
            flex-wrap: wrap;
            gap: 18px;
        }

        a {
            text-decoration: none;
            position: relative;

            img {
                width: 325px;
                height: 400px;
                object-fit: cover;
                border-radius: 30px;

            }

            p {
                font-family: "Playfair Display", serif;
                font-weight: 800;
                position: absolute;
                bottom: 0;
                padding: 5px 50px;
                text-align: center;
                color: white;
                width: 100%;
                height: 80px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.841), rgba(0, 0, 0, 0));
                border-radius: 30px;
                z-index: 2;
                margin: 0;
            }
        }
    }

    div {
        .btn, .btn-dark {
            margin: 40px 0;
        }
    }
}

//* PAGINA ARTICULOS

main #articulos-main {
    background-image: url(../../img/filter-bg.png);
    background-repeat: space;
    background-position: center center;
    background-size: 100% auto;

    img {
        height: 150px;
        width: 150px;
        margin: 10px;
    }

    .copete {
        padding-bottom: 50px;
        margin: 0px 300px;
        text-align: center;
        font-weight: 400;
    }

    #grid-container1 {
        display: grid;
        grid-template-rows: 500px 300px 200px 500px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        margin: 50px;
        flex-wrap: wrap;



        .grid-item1a {
            grid-column: span 1;

            img {
                width: 100%;
                height: 150%;
                object-fit: cover;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.504);
            }
        }

        .grid-item2a {
            grid-column: span 3;

            article {
                h3 {
                    margin: 0 25px 25px 25px;
                    font-family: "Playfair Display", serif;
                    font-size: 60px;
                }

                p {
                    margin: 25px;
                    font-size: 15px;

                    .negrita {
                        font-weight: bold;
                    }
                }
            }
        }

        .grid-item3a {
            margin-top: 50px;
            grid-column: span 4;
            grid-row: 3;
            text-align: center;

            .recomendacion {
                font-size: 35px;
                font-weight: 500;
            }
        }

        .grid-item4a {
            flex-direction: column;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row: 4;

            img {
                margin: 0px;
                width: 100%;
                height: 50%;
                object-fit: cover;
                border-radius: 10px;
            }

            h4 {
                margin-top: 10px;
            }

            p {
                text-align: justify;
            }
        }

        .grid-item5a {
            flex-direction: column;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 4;

            img {
                margin: 0;
                width: 100%;
                height: 50%;
                object-fit: cover;
                border-radius: 10px;
            }

            h4 {
                margin-top: 10px;
            }

            p {
                text-align: justify;
            }
        }
    }
}


//* PAGINA NUTRICION

main #nutricion-main {
    background-image: url(../../img/filter-bg.png);
    background-repeat: space;
    background-position: center center;
    background-size: 100% auto;

    img {
        height: 150px;
        width: 150px;
        margin: 10px;
    }

    .copete {
        padding-bottom: 50px;
        margin: 0px 400px;
        text-align: center;
        font-weight: 400;
    }

    #grid-container1 {
        display: grid;
        grid-template-rows: 500px 300px 200px 550px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 30px;
        margin: 50px;
        flex-wrap: wrap;



        .grid-item1a {
            grid-column: span 1;

            img {
                width: 100%;
                height: 150%;
                object-fit: cover;
                box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.504);
            }
        }

        .grid-item2a {
            grid-column: span 3;

            article {
                h3 {
                    margin: 0 25px 25px 25px;
                    font-family: "Playfair Display", serif;
                    font-size: 60px;
                }

                p {
                    margin: 25px;
                    font-size: 15px;

                    .negrita {
                        font-weight: bold;
                    }
                }
            }
        }

        .grid-item3a {
            margin-top: 50px;
            grid-column: span 4;
            grid-row: 3;
            text-align: center;

            .recomendacion {
                font-size: 35px;
                font-weight: 500;
            }
        }

        .grid-item4a {
            flex-direction: column;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row: 4;

            img {
                margin: 0;
                width: 100%;
                height: 50%;
                object-fit: cover;
                border-radius: 10px;
            }

            h4 {
                margin-top: 10px;
            }

            p {
                text-align: justify;
            }
        }

        .grid-item5a {
            flex-direction: column;
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row: 4;
            margin-bottom: 20px;

            img {
                margin: 0px;
                width: 100%;
                height: 50%;
                object-fit: cover;
                border-radius: 10px;
            }

            h4 {
                margin-top: 10px;
            }

            p {
                text-align: justify;
            }
        }
    }
}


//* PAGINA CONTACTO

main #contacto-main {
    background-image: url(../../img/home_hero__2.webp);
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
    margin-top: -15vh;
    @include flex (flex, center, left, column);

    img {
        height: 150px;
        width: 150px;
        margin: 120px 10px 0 320px;
    }

    p {
        text-align: center;
        margin-left: 50px;
        margin-right: 830px;
    }

    .formulario {
        margin-top: 20px;
        margin-left: 200px;
    }

    div {
        input {
            width: 400px;
            height: 50px;
            padding: 3px 10px;
            border: none;
            border-bottom: 2px solid black;
            background: none;
            margin: 8px 0;
            align-items: center;
        }
    }

    div {
        textarea {
            width: 400px;
            height: 150px;
            padding: 3px 10px;
            border: 2px solid black;
            background: none;
            margin: 40px 0 50px;
        }
    }

    .botones-form {
        margin-bottom: 50px;

        .resetear {
            width: 200px;
            height: 40px;
            padding: 8px 16px;
            margin-top: 10px;
            border: 2px solid #000;
            border-radius: 5px;
            color: black;
            background-color: rgba(255, 255, 255, 0.396);
        }


        .enviar {
            width: 200px;
            height: 40px;
            padding: 8px 16px;
            margin-top: 10px;
            border: 1px solid #000;
            border-radius: 5px;
            color: #fff;
            background-color: #000;
        }
    }

    .mail-huellas {
        border: none;
        border-top: #000 2px solid;
        margin-left: 120px;
        margin-bottom: 50px;
        padding-top: 30px;
        font-weight: 400;
    }
}