#grid-container {
    background-image: url(../img/v894-kul-02-e.jpg);
    background-repeat: no-repeat;
    background-size: 210vh 250vh;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 700px 500px 500px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;

    .grid-item1 {
        grid-column: 1/3;
        @include flex (flex, none, none, column);

        .logomain {
            height: 150px;
            width: 150px;
            margin: 10px;
        }

        .mensaje {
            text-align: center;
            justify-content: center;
            align-items: center;

            h2 {
                font-family: "Shantell sans", cursive;
                padding: 0 20rem 0 20rem;
                font-size: 50px;
                margin: 50px 0 100px;
                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.504);
            }

            p {
                padding: 0 15rem 0 15rem;
                background-color: #00000027;
                color: white;
                justify-content: center;
            }

            h3 {
                font-family: "Shantell sans", cursive;
                padding: 0 20rem 0 20rem;
                font-size: 30px;
                margin: 50px 0 100px;
                text-decoration: underline;
            }
        }
    }

    .grid-item2 {
        @include flex (flex, center, center, row);
        padding: 0 30px 0 25px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
        }

        .titulotexto2 {
            margin-left: 25px;
            text-align: left;
            word-spacing: -1px;

            .titulo2 {
                margin-bottom: 15px;
                text-align: left;
            }

            .leer {
                margin-left: 5px;
            }
        }
    }

    .grid-item3 {
        @include flex (flex, center, center, row);
        padding: 0 25px 0 30px;
        margin: 10px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);

        .titulotexto3 {
            margin-right: 20px;
            text-align: left;
            word-spacing: -1px;

            .titulo3 {
                margin-bottom: 15px;
                text-align: left;
            }

            .leer {
                margin-left: 5px;
            }
        }

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
        }
    }

    .grid-item4 {
        grid-column: 1/3;
        @include flex (flex, center, center, row);
        margin: 50px 300px 50px 300px;
        padding: 0 50px 0 50px;
        background-color: rgba(255, 255, 255, 0.522);
        border-radius: 10px;
        box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);

        img {
            height: $largo;
            width: $ancho;
            box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.504);
        }

        .titulotexto4 {
            margin-left: 20px;
            text-align: left;

            .titulo4 {
                margin-bottom: 15px;
            }

            .leer {
                margin-left: 5px;
            }
        }
    }
}


// PAGINA CONTACTO

.flechas {
    font-size: 45px;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    color: white;
    text-shadow: 1px 1px 25px black;
}

.flechas h1 {
    display: none;
}

.flechas a img{
    width: 65px;
    height: 65px;
    margin-top: 300px;
    filter: drop-shadow( 1px 1px 4px rgb(46, 46, 46));
}

.h2-contacto {
    font-family: "Shantell sans", cursive;
    font-size: 45px;
    text-align: center;
    color: black;
    margin: 30px;
}

#main-contacto {
    height: 800px;
    width: 100%;
    background-image: url(../img/v894-kul-02-e.jpg);
    background-repeat: no-repeat;
    background-size: 210vh 250vh;
    background-position: center;
    background-size: cover;
    @include flex (flex, center, center, row);
}

.formulario {
    @include flex (flex, center, center, column);
    background-color: rgba(255, 255, 255, 0.51);
    width: 800px;
    height: 700px;
	border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.303);
}

.formulario input{
    height: 50px;
    width: 500px;
	padding: 3px 10px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color:#f6f6f6;
	margin: 8px 0;
	display: inline-block;
    align-items: center;
}

.formulario textarea{
    width: 500px;
    height: 150px;
    border: #f6f6f6 1px solid;
    border-radius: 3px;
    background-color:#f6f6f6;			
    margin: 8px 0 50px;
    display:block;
}

.formulario .resetear{
        width: 100%;
        padding: 8px 16px;
        margin-top: 10px;
        border: 2px solid #000;
        border-radius:5px;
        color: black;
        background-color: rgba(255, 255, 255, 0.396);
} 

.formulario .enviar{
    width: 100%;
    padding: 8px 16px;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius:5px;
    color:#fff;
    background-color:#000;
} 