@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.source-sans-3-source {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.playfair-display-playfair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

//! OPERACIONES

$ancho: 100%;
$largo: 105%;

//! MIXINS

@mixin flex ($flex, $justify, $aling, $direction) {
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
    flex-direction: $direction;
}

